.inicio-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.inicio-imagem-topo {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.banner {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  color: white;
  margin-top: 7rem;
}

.logo-img {
  position: relative;
  z-index: 2;
  width: 13rem;
  height: auto;
}

.logo-banner p{
  font-size: 1.1rem;
}

.tela-azul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--azul-principal);
  opacity: 0.6;
  z-index: 0;
}

.sobre-nos {
  width: 100%;
  padding: 3rem 1rem;
  text-align: center;
  color: #333;
}

.sobre-nos h2 {
  margin-top: -1.5rem;
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: var(--azul-principal);
}

.sobre-nos p {
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 900px;
  margin: 0 auto;
  color: #3D3D3D;
}
