.ps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ps-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  
  .ps-imagem-topo {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  
  .ps-banner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .ps-logo-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    color: white;
    margin-top: 7rem;
  }
  
  .ps-logo-img {
    position: relative;
    z-index: 2;
    width: 16rem;
    height: auto;
  }
  
  .ps-logo-banner p{
    font-size: 1.1rem;
  }
  
  .ps-tela-azul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--azul-principal);
    opacity: 0.6;
    z-index: 0;
  }
  
  .ps-logo {
    display: flex;
    align-items: center;
  }
  
  .ps-logo img {
    height: 13rem;
    width: auto;
  }
  
  .ps-separator {
    width: 0.08rem;
    height: 13rem;
    background-color: white;
    margin: 0 1rem;
  }
  
  .ps-logo-name {
    display: flex;
    flex-direction: column;
    margin-left: 0.6rem;
  }
  
  .ps {
    font-size: 5rem;
    font-weight: bold;
    color: white;
  }

  .texto-ps {
    width: 100%;
    padding: 3rem 0rem;
    text-align: center;
    color: #3D3D3D;
    margin-top: -2rem;
  }
  
  .texto-ps h2 {
    margin-top: 0.5rem;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: var(--azul-principal);
  }
  
  .texto-ps p {
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 900px;
    margin: 0 auto;
    color: #3D3D3D;
  }

  .inscricao {
    background-color: var(--azul-principal);
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .inscricao-link {
    font-size: 3rem;
    margin: 0;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .inscricao-link:hover {
    color: var(--dourado-principal);
  }
  