.core-container {
  margin-bottom: 2rem;
  width: 100%;
}

.core:nth-child(even) {
  background-color: #06255309;
}

.core {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 100rem;
  align-items: center;
  padding-bottom: 2rem;
  padding-left: 0;
}

.core-title {
  color: var(--azul-principal);
  font-size: 2rem;
  margin-top: 1;
  margin-bottom: 0;
}

.project {
  width: 100%;
  max-width: 65rem;
  display: flex;
  align-items: center;
  border: 0.05rem solid #ddd;
  overflow: hidden;
}

.project:nth-child(even) {
  flex-direction: row-reverse;
}

.project:nth-child(odd) {
  flex-direction: row;
}

.project-image {
  width: 30rem;
  height: 15rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.project-info {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.project-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
}

.project-description {
  font-size: 14px;
  color: #3D3D3D;
  margin-top: 8px;
  text-align: justify;
}
