.ps-projects-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
  width: 65rem;
}

.ps-project {
  display: flex;
  border: 0.05rem solid #ddd;
  overflow: hidden;
}

.ps-project:nth-child(even) {
  flex-direction: row-reverse;
}

.ps-project:nth-child(odd) {
  flex-direction: row;
}

.ps-project-image {
  width: 30rem;
  height: auto;
}

.ps-project-info {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.ps-project-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
}

.ps-project-description {
  font-size: 14px;
  color: #666;
  margin-top: 8px;
  text-align: justify;
}
