@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  font-family: 'Playfair Display', serif;
  background-color: #062553;
}

:root {
  --azul-principal: #062553;
  --dourado-principal: #E9D774;
}

@media (max-width: 768px) {

}
